<h1 class="mb-4">Owners</h1>
<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th># of Pets</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= owner.first_name %> <%= owner.last_name %></td>
        <td><%= owner.email %></td>
        <td><%= owner.phone %></td>
        <td><%= owner.pets.count %></td> <td><%= link_to "Show", owner_path(owner), class: "btn btn-sm btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
